* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-user-select:none;
    user-select:none;
}
.main-page {
    background-color: white;
}

.section-popup {
    position: relative;
    width: 100vw;
    height: auto;
    overflow:hidden;
    animation: Pop-up 1.5s ease-in-out;
}
@keyframes Pop-up{
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.gap-popup {
    gap: 3rem;
    transition: 0.3s ease;
}
.pop-intro-text{
    color:black;
    font-size:4rem;
    margin-bottom:20px;
    transition: 0.3s ease;
}
.kmutt-pic {
    width: 250px;
    height: 250px;
    transition: 0.3s ease;
}
.su-pic {
    width: 225px;
    height: 225px;
    transition: 0.3s ease;
}
.swu-pic {
    width: 220px;
    height: 220px;
    transition: 0.3s ease;
}
.btn-uni-kmutt {
    padding: 0;
    background-color: white;
    border: solid 2px #e5e5e5;
    border-radius: 25px;
    transition: 0.3s ease;
}
.btn-uni-su {
    padding: 12.5px;
    background-color: white;
    border: solid 2px #e5e5e5;
    border-radius: 25px;
    transition: 0.3s ease;
}
.btn-uni-swu {
    padding: 15px;
    background-color: white;
    border: solid 2px #e5e5e5;
    border-radius: 25px;
    transition: 0.3s ease;
}
.btn-uni-kmutt:focus, .btn-uni-su:focus, .btn-uni-swu:focus{
    background:white;
    transform:scale(1.05);
    transition: 0.3s ease;
}
.btn-uni-kmutt:hover, .btn-uni-su:hover, .btn-uni-swu:hover {
    background-color: white;
}

@media(max-width:1200px){
    .pop-intro-text {
        font-size: 3.5rem;
        margin-bottom: 20px;
    }
    .kmutt-pic {
        width: 200px;
        height: 200px;
        transition: 0.3s ease;
    }
    .su-pic {
        width: 175px;
        height: 175px;
        transition: 0.3s ease;
    }
    .swu-pic {
        width: 170px;
        height: 170px;
        transition: 0.3s ease;
    }
}

@media(max-width:767px){
    .gap-popup {
        gap: 2rem;
    }
    .pop-intro-text {
        font-size: 2.5rem;
        margin-bottom: 25px;
    }
    .kmutt-pic {
        width: 150px;
        height: 150px;
    }
    .su-pic {
        width: 125px;
        height: 125px;
    }
    .swu-pic {
        width: 120px;
        height: 120px;
    }
    .btn-uni-kmutt {
        padding: 0;
        background-color: #f3f3f3;
        border: solid 2px #e5e5e5;
        border-radius: 25px;
        transition: 0.3s ease;
    }
    .btn-uni-su {
        padding: 12.5px;
        background-color: #f3f3f3;
        border: solid 2px #e5e5e5;
        border-radius: 25px;
        transition: 0.3s ease;
    }
    .btn-uni-swu {
        padding: 15px;
        background-color: #f3f3f3;
        border: solid 2px #e5e5e5;
        border-radius: 25px;
        transition: 0.3s ease;
    }
}

@media(max-width:575px){
    .pop-intro-text{
        font-size: 2rem;
    }
}


/*===== POP-PAGE =====*/
.section-popup{
    width:100%;
    height:100dvh;
    overflow:hidden;
}
.timer-text{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: -15px;
}
.uni-text {
    margin-top:-500px;
    text-align: center;
    font-size: 4rem;
    transition:0.5s ease-in-out;
}
.kmutt {
    color: white;
}
.kmutt-bg {
    background-color: rgba(240,78,35,1);
}
.su {
    color: white;
}
.su-bg {
    background-color: rgba(0,116,104,1);
}
.swu {
    color: white;
}
.swu-bg {
    background-color: rgba(218,33,39,1);
}
.score-text {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    transition: 0.5s ease-in-out;
}
.pop-form{
    width:100%;
    display:flex; 
    justify-content:center;
    align-items:center;
}
#btn-pop-kmutt, #btn-pop-su, #btn-pop-swu{
    position:absolute;
    padding:20px;
    bottom:250px;
    background:none;
    border-radius: 50%;
    border:none;
    outline:none;
    transition:0.5s ease-in-out;
}
#btn-pop-kmutt img, #btn-pop-su img, #btn-pop-swu img{
    width:350px;
    height:350px;
    padding:0px;
    overflow:visible;
    border-radius:50%;
}

@media(min-height:961px) {
    #btn-pop-kmutt, #btn-pop-su, #btn-pop-swu {
        bottom: 25%;
    }
}
@media(max-height:960px){
    #btn-pop-kmutt, #btn-pop-su, #btn-pop-swu {
        bottom:20%;
        transform: scale(1.1)
    }
}
@media(max-height:810px) {
    .uni-text {
        margin-top: -500px;
    }
    #btn-pop-kmutt, #btn-pop-su, #btn-pop-swu {
        transform: scale(1.0)
    }
}
@media(max-height:710px) {
    .uni-text {
        margin-top: -400px;
    }
    #btn-pop-kmutt, #btn-pop-su, #btn-pop-swu {
        bottom: 15%;
    }
}
@media(max-height:650px) {
    .uni-text {
        margin-top: -400px;
    }
    #btn-pop-kmutt, #btn-pop-su, #btn-pop-swu {
        bottom: 15%;
    }
}
@media(max-height:610px) {
    .uni-text {
        margin-top: -300px;
    }
    #btn-pop-kmutt, #btn-pop-su, #btn-pop-swu {
        bottom: 2%;
        transform: scale(0.9);
    }
}
@media(max-height:500px) {
    .uni-text {
        margin-top: -300px;
    }
    #btn-pop-kmutt, #btn-pop-su, #btn-pop-swu {
        bottom: 0;
        transform: scale(0.7);
    }

}
@media(max-height:470px) {
    .uni-text {
        margin-top: -250px;
    }
    #btn-pop-kmutt, #btn-pop-swu {
        bottom: -5%;
        transform: scale(0.7)
    }
    #btn-pop-su {
        bottom: -10%;
        transform: scale(0.7)
    }
}
@media(max-height:400px) {
    .uni-text {
        font-size:3rem;
        margin-bottom: -15px !important;
        margin-top: -200px;
    }
    #btn-pop-kmutt, #btn-pop-su, #btn-pop-swu {
        bottom: -15%;
        transform: scale(0.5);
    }
}
@media(max-height:325px) {
    .uni-text {
        font-size: 3rem;
        margin-bottom: -20px !important;
        margin-top: -170px;
    }
    #btn-pop-kmutt, #btn-pop-su, #btn-pop-swu {
        bottom: -25%;
        transform: scale(0.4);
    }
}

/*===== POP-RESULT =====*/
.section-resultbox {
    width: 100%;
    height: 100vh;
    animation: Pop-up 1.5s ease-in-out;
}
.result-box{
    width: 350px;
    padding: 25px;
    border: solid 4px black;
}
.canvas{
    transition: 1.5s ease-in-out;
}
.score-header-text{
    font-size: 4rem;
    text-align: center;
}
.kmutt-score, .su-score, .swu-score{
    border-bottom: solid 1px black;
    margin: 10px 0px 10px 0px;
    padding: 0px 5px 10px 5px;
    font-size: 1.25rem;
}
.kmutt-score {
    color: rgba(255, 102, 0, 1);
}
.su-score {
    color: rgba(76, 175, 80, 1);
}
.swu-score {
    color: rgba(218, 33, 40, 1);
}

/*===== POP-RESET =====*/
.resetbtn{
    color:white;
    font-size: 2rem;
    font-weight: bold;
    padding: 30px 50px 30px 50px;
    border: none;
    border-radius: 15px;
    background-color: red;
    box-shadow: 0px 5px 15px #8f8f8f;
    transform: scale(2.5);
    transition: 0.5s ease;
}
.resetbtn:focus{
    transform: scale(2.35);
}
@media(max-width:575px){
    .resetbtn{
        transform:scale(2)
    }
    .resetbtn:focus{
    transform: scale(1.85);
    }
}
@media(max-width:375px) {
    .resetbtn {
        transform: scale(1.5)
    }
    .resetbtn:focus {
        transform: scale(1.35);
    }
}
